# Loại trừ file không cần thiết hoặc chỉ dùng cục bộ
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml

# Loại trừ output build
**/bin
**/obj

# Cho phép giữ lại file .csproj (phải được copy vào Docker)
!**/*.csproj

# Cho phép giữ lại file cấu hình Git cần thiết
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**

# Loại trừ file không liên quan đến Docker build
LICENSE
README.md
